{% extends 'SA/person_base.html' %}

{% block list %}
    <a href="{% url 'SA:person_info' %}" class="list-group-item active"><h4>基本信息</h4></a>
    <br>
    <a href="{% url 'SA:person_info' %}" class="list-group-item active"><h4>关注列表</h4></a>
    {% for f in follows %}
    <div class="list-group-item">
        <a href='{% url 'SA:person_detail' f.id %}'><h4>{{ f.tag_name }}</h4></a>
    </div>
    {% endfor %}
    <br>
    <a href="{% url 'SA:add_person' %}">
    <button type="button" class="btn btn-primary btn-lg">添加关注</button>
    </a>
{% endblock %}

{% block content %}
    <div class="row clearfix">
		<div class="col-md-12 column">

		</div>
	</div>

{% endblock %}