{% extends 'SA/analysis_base.html' %}

{% block list %}
    <a href="{% url 'SA:person_info' %}" class="list-group-item active"><h4>关注列表</h4></a>
    {% for f in follows %}
    <div class="list-group-item">
        <a href='{% url 'SA:statistics_detail' f.id %}'><h4>{{ f.tag_name }}</h4></a>
    </div>
    {% endfor %}

{% endblock %}

{% block content %}
     <h1 class="text-center">
           活跃度分析
    </h1>
    <div class="row clearfix">

		<div class="col-md-4 column">
            {% if has_weibo %}
			<h2>
				微博活跃度
			</h2>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>最近三天</h4></td>
                  <td><h4>{{ weibo_num.recent_3 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一周</h4></td>
                  <td><h4>{{ weibo_num.recent_7 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一个月</h4></td>
                  <td><h4>{{ weibo_num.recent_30 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>动态总数</h4></td>
                  <td><h4>{{ weibo_num.total }}</h4></td>
                </tr>
              </tbody>
            </table>
            {% else %}

            {% endif %}
		</div>
		<div class="col-md-4 column">
            {% if has_zhihu %}
			<h2>
				知乎活跃度
			</h2>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>最近三天</h4></td>
                  <td><h4>{{ zhihu_num.recent_3 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一周</h4></td>
                  <td><h4>{{ zhihu_num.recent_7 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一个月</h4></td>
                  <td><h4>{{ zhihu_num.recent_30 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>回答总数</h4></td>
                  <td><h4>{{ zhihu_num.total }}</h4></td>
                </tr>
              </tbody>
            </table>
            {% else %}

            {% endif %}
		</div>
		<div class="col-md-4 column">
            {% if has_tieba %}
			<h2>
				贴吧活跃度
			</h2>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>最近三天</h4></td>
                  <td><h4>{{ tieba_num.recent_3 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一周</h4></td>
                  <td><h4>{{ tieba_num.recent_7 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>最近一个月</h4></td>
                  <td><h4>{{ tieba_num.recent_30 }}</h4></td>
                </tr>
                <tr>
                  <td><h4>发帖总数</h4></td>
                  <td><h4>{{ tieba_num.total }}</h4></td>
                </tr>
              </tbody>
            </table>
            {% else %}

            {% endif %}
		</div>
	</div>

{% endblock %}