{% extends 'SA/state.html' %}

{% block content %}
    <div class="row clearfix">
        <h2 class="text-center text-info">
            {{ friend.tag_name }}
        </h2>

		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-995837">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-1" data-toggle="tab">微博</a>
					</li>
					<li>
						 <a href="#panel-2" data-toggle="tab">知乎</a>
					</li>
                    <li>
						 <a href="#panel-3" data-toggle="tab">贴吧</a>
					</li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane active" id="panel-1">
                        <span  id="update_weibo" class="glyphicon glyphicon-repeat pull-right" style="color: rgb(2, 132, 216);font-size: 26px;">刷新</span>
                        <br>
                        <br>
                        <div class="row clearfix">
                        {% for w in weibo %}
                            <div class="jumbotron">
                                <div class="col-md-2 column">
                                     <img onerror="this.src='/media/head/default.jpg'" src="{{ weibo_img_src }}" height="60" width="60"  class="img-circle" />
                                </div>
                                <div class="col-md-10 column">
                                    <h3 class="text-left text-info">
                                        {{ weibo_name }}
                                    </h3>
                                    <p>
                                        <br>
                                        {{ w.weibo_content }}
                                    </p>
                                </div>
                                <span class="glyphicon glyphicon-calendar" style="color: rgb(0, 163, 255); font-size: 17px;">{{ w.weibo_time }}</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-comment" style="color: rgb(255, 0, 0);font-size: 17px;">{{ w.weibo_comment }}</span>
			                </div>
                        {% endfor %}
                        </div>
                            <br>
                    </div>

                    <div class="tab-pane" id="panel-2">
                    <span  id="update_zhihu" class="glyphicon glyphicon-repeat pull-right" style="color: rgb(2, 132, 216);font-size: 26px;">刷新</span>
                    <br>
                    <br>
                        <div class="row clearfix">
                            {% for z in zhihu %}
                                {% if z.type == 'VOTEUP_ANSWER' %}
                                    <div class="jumbotron">
                                        <h5>
                                            赞同了回答
                                        </h5>
                                        <h3>
                                            <a href="https://www.zhihu.com/question/{{ z.question_id }}/answer/{{ z.answer_id }}" target="_blank">
                                            {{ z.question_title }}
                                            </a>
                                        </h3>
                                        <br>
                                        <p>
                                            {{ z.answer_content }}
                                        </p>
                                        <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ z.created_time }}</span>
                                        <p>

                                        </p>
                                    </div>
                                {% endif %}

                                {% if z.type == 'FOLLOW_QUESTION' %}
                                    <div class="jumbotron">
                                        <h5>
                                            关注了问题
                                        </h5>
                                        <h3>
                                            <a href="https://www.zhihu.com/question/{{ z.question_id }}" target="_blank">
                                            {{ z.question_title }}
                                            </a>
                                        </h3>
                                        <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ z.created_time }}</span>
                                    </div>
                                {% endif %}

                                {% if z.type == 'CREATE_ANSWER' %}
                                    <div class="jumbotron">
                                        <h5>
                                            回答了问题
                                        </h5>
                                        <h3>
                                            <a href="https://www.zhihu.com/question/{{ z.question_id }}/answer/{{ z.answer_id }}" target="_blank">
                                            {{ z.question_title }}
                                            </a>
                                        </h3>
                                        <p>
                                            {{ z.answer_content }}
                                        </p>
                                        <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ z.created_time }}</span>
                                    </div>
                                {% endif %}

                                {% if z.type == 'CREATE_QUESTION' %}
                                    <div class="jumbotron">
                                        <h5>
                                            提出了问题
                                        </h5>
                                        <h3>
                                            <a href="https://www.zhihu.com/question/{{ z.question_id }}" target="_blank">
                                            {{ z.question_title }}
                                            </a>
                                        </h3>
                                         <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ z.created_time }}</span>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                            <br>
                    </div>

					<div class="tab-pane" id="panel-3">
                        <span  id="update_tieba" class="glyphicon glyphicon-repeat pull-right" style="color: rgb(2, 132, 216);font-size: 26px;">刷新</span>
                        <br>
                        <br>
                        <div class="row clearfix">
                            {% for t in tieba %}
                                {% if t.Type == 'huifu' %}
                                    <div class="jumbotron">
                                        <h4>
                                            <span class="glyphicon glyphicon-comment" style="color: rgb(0, 138, 195);">
                                                <a href="https://tieba.baidu.com{{ t.Content_url }}" target="_blank">
                                                    {{ t.Content }}
                                                </a>
                                            </span>
                                        </h4>
                                        <h3>
                                            <a href="https://tieba.baidu.com{{ t.Title_url }}" target="_blank">
                                            {{ t.Title }}
                                            </a>
                                        </h3>
                                        <h5>
                                        {{ t.Tieba_name }}
                                        </h5>
                                         <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ t.Date }}</span>
                                    </div>
                                {% endif %}

                                {% if t.Type == 'zhuti' %}
                                    <div class="jumbotron">
                                        <h3>
                                            <span class="glyphicon glyphicon-pencil" style="color: rgb(0, 138, 195);">
                                                <a href="https://tieba.baidu.com{{ t.Title_url }}" target="_blank">
                                                    {{ t.Title }}
                                                </a>
                                            </span>
                                        </h3>
                                        <h5>
                                        {{ t.Tieba_name }}
                                        </h5>
                                         <span class="glyphicon glyphicon-calendar pull-right" style="color: rgb(0, 163, 255); font-size: 17px;">{{ t.Date }}</span>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                            <br>
					</div>

				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.glyphicon-repeat').mouseover(function(){
                $('.glyphicon-repeat').css('color',"rgb(0, 255, 255)");
            });

            $('.glyphicon-repeat').mouseout(function(){
                $('.glyphicon-repeat').css('color',"rgb(2, 132, 216)");
            });

            $('#update_weibo').on('click',function(){
                $.ajax({
                    url: "{% url 'SA:update_weibo' follow_id %}",
                    type: 'post',
                    async: false,
                    success: function(ret) {
                        if(ret.status === "success"){
                            alert("添加成功");
                            window.location.href = '{% url 'SA:person_info' %}';
                            window.event.returnValue = false;
                            //window.location = 'http://127.0.0.1:8000/SA/home';
                            //Response.Redirect("http://127.0.0.1:8000/SA/home",true);
                        }
                        else
                        {
                            $('#login_form').find('input').each(function () {$(this).val("");});
                            alert("输入信息有误");
                        }
                    }
                });
            });
            
        });

    </script>


{% endblock %}
