<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
  <div data-role="header">
    <h1>测试弹窗完成注册</h1>
  </div>

  <div data-role="main" class="ui-content">
    <a href="#myPopupDialog" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">打开对话框弹窗</a>

    <div data-role="popup" id="myPopupDialog">
      <div data-role="header">
        <h1>头部文本</h1>
      </div>

      <div data-role="main" class="ui-content">
        <form>
          {% csrf_token %}
          <label for="username">账号：</label>
          <input type="text" name="fname" id="username">
          <label for="password">密码：</label>
          <input type="text" name="fname" id="password">
          <button type="button" class="btn btn-primary" id='login'>登陆</button>
        </form>
      </div>

      <div data-role="footer">
        <h1>底部文本</h1>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" id='login'>登陆</button>
  <div data-role="footer">
    <h1>底部文本</h1>
  </div>
</div>

</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
  $("button#login").click(function(){
    var username = $('#username').val();
    var password = $('#password').val();
    $.post('/SA/login/',{'username':username,'password':password},function(data,status){
        if(data.data == "success")
        {
            alert("登陆成功！");
        }
        else
        {
            alert('账号或密码输入错误！')
        }
    });
  });
});
</script>
